TOKEN=tu_token_del_bot_aqui
GUILD_ID=id_del_servidor
LOG_CHANNEL_ID=id_del_canal_de_logs
LOG_BANNER_URL=https://ejemplo.com/banner.png
TICKET_CATEGORY_ID=id_de_la_categoria_de_tickets
TICKET_LOG_CHANNEL_ID=id_del_canal_de_logs_de_tickets
